<!DOCTYPE html>

<html>
	<head>
		<title> Routing Test </title>
	</head>

	<body>
	<form method = "POST" action="/submit-form">
  		First name:<br>
  		<input type="text" name="firstname" value=""><br>
  		<input type="submit" value="Submit">
	</form> 
	</body>
</html>